<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appName</key>
	<string>bishijie</string>
	<key>workspace</key>
	<string>KATrackingAdDemo.xcworkspace</string>
	<key>scheme</key>
	<string>KATrackingAdDemo</string>
	<key>iconPath</key>
	<string>static/icon/1024.png</string>
	<key>plistPaths</key>
	<array>
		<string>APSDKDemo/Info.plist</string>
	</array>
	<key>Debug</key>
	<dict>
		<key>method</key>
		<string>development</string>
		<key>teamID</key>
		<string>457VF9GPB7</string>
		<key>bundleID</key>
		<string>com.Benqumark.KuaiMeiKuaiZhuang</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>com.Benqumark.KuaiMeiKuaiZhuang</key>
			<string>GeneralAdHoc</string>
		</dict>
	</dict>
	<key>AdHoc</key>
	<dict>
		<key>method</key>
		<string>ad-hoc</string>
		<key>teamID</key>
		<string>457VF9GPB7</string>
		<key>bundleID</key>
		<string>com.Benqumark.KuaiMeiKuaiZhuang</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>com.Benqumark.KuaiMeiKuaiZhuang</key>
			<string>GeneralAdHoc</string>
		</dict>
	</dict>
	<key>Release</key>
	<dict>
		<key>method</key>
		<string>app-store</string>
		<key>teamID</key>
		<string>457VF9GPB7</string>
		<key>bundleID</key>
		<string>com.Benqumark.KuaiMeiKuaiZhuang</string>
		<key>provisioningProfiles</key>
		<dict>
			<key>com.Benqumark.KuaiMeiKuaiZhuang</key>
			<string>GeneralAdHoc</string>
		</dict>
	</dict>
</dict>
</plist>
